[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.3"
astroid = "==2.3.3"
attrs = "==19.3.0"
autopep8 = "==1.4.4"
backcall = "==0.1.0"
black = "==19.10b0"
bleach = "==3.1.2"
click = "==7.0"
decorator = "==4.4.2"
defusedxml = "==0.6.0"
entrypoints = "==0.3"
flake8 = "==3.7.9"
importlib-metadata = "==1.4.0"
ipykernel = "==5.1.4"
ipython = "==7.13.0"
isort = "==4.3.21"
itsdangerous = "==1.1.0"
jedi = "==0.15.2"
json5 = "==0.9.2"
jsonschema = "==3.2.0"
jupyter-client = "==6.0.0"
jupyter-contrib-nbextensions = "==0.5.1"
jupyter-core = "==4.6.3"
jupyterlab = "==1.2.7"
jupyterlab-server = "==1.0.7"
kiwisolver = "==1.1.0"
lazy-object-proxy = "==1.4.3"
lxml = "==4.5.0"
matplotlib = "==3.2.0"
mccabe = "==0.6.1"
mistune = "==0.8.4"
more-itertools = "==8.1.0"
nbconvert = "==5.6.1"
nbformat = "==5.0.4"
networkx = "==2.4"
notebook = "==6.0.3"
numpy = "==1.18.1"
pandas = "==1.0.1"
pandocfilters = "==1.4.2"
parso = "==0.5.2"
pathspec = "==0.7.0"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
pluggy = "==0.13.1"
prompt-toolkit = "==3.0.3"
ptvsd = "==4.3.2"
ptyprocess = "==0.6.0"
pycodestyle = "==2.5.0"
pydocstyle = "==5.0.2"
pyflakes = "==2.1.1"
pylint = "==2.4.4"
pymongo = "==3.10.1"
pyparsing = "==2.4.6"
pyrsistent = "==0.15.7"
python-dateutil = "==2.8.1"
python-jsonrpc-server = "==0.3.4"
python-language-server = "==0.31.6"
pytz = "==2019.3"
pyzmq = "==19.0.0"
regex = "==2020.2.20"
rope = "==0.16.0"
six = "==1.14.0"
snowballstemmer = "==2.0.0"
terminado = "==0.8.3"
testpath = "==0.4.4"
toml = "==0.10.0"
tornado = "==6.0.4"
traitlets = "==4.3.3"
typed-ast = "==1.4.1"
ujson = "==1.35"
wcwidth = "==0.1.8"
webencodings = "==0.5.1"
wrapt = "==1.11.2"
yapf = "==0.29.0"
zipp = "==2.0.0"
Cycler = "==0.10.0"
Flask = "==1.1.1"
Flask-Cors = "==3.0.8"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.11.1"
jupyter_contrib_core = "==0.3.3"
jupyter_highlight_selected_word = "==0.2.0"
jupyter_latex_envs = "==1.4.6"
jupyter_nbextensions_configurator = "==0.4.1"
MarkupSafe = "==1.1.1"
prometheus_client = "==0.7.1"
Pygments = "==2.5.2"
PyYAML = "==5.3"
Send2Trash = "==1.5.0"
Werkzeug = "==1.0.0"

[requires]
python_version = "3.8"
